<nav class="navbar navbar-expand-md navbar-light bg-faded">

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="https://medium.com/@matthieu.lavergne">About</a>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <a href="https://medium.com/@matthieu.lavergne" class="text-info">
              Submit a benchmark →
          </a>
       </form>
     </div>
</nav>
